.ReactFlagsSelect-module_flagsSelect__2pfa2 {
    padding-bottom: 0;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
    padding: 5px 0;
    border: none;
    margin-right: 8px;
}
.formInputGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dobGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width: 600px){
    .formInputGrid {
        grid-template-columns: 1fr;
        grid-gap: 1.75rem !important;
    }
}